.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.slider-input-container {
  padding: 20px 0 20px 0
}


.slider-container {
  padding: 20px 0 0 0
}

.slider-container > div {
  height: 40px;
}
.submission {
  flex-direction: column
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.shell {
  max-width: 98.9vw;
}

.App-link {
  color: #61dafb;
}

.side-spacer {
  background-color: lightgrey
}
.form-error {
  color: red;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.page {
  height: auto
}

.button-container {
  padding: 0 0 0 30px;
  display: inline-block;
}

.input-question-text {
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.custom-tooltip {
    display: inline-block;
    margin: 10px 20px;
    opacity: 1;
    position: relative;
}

.custom-tooltip .tooltip-inner {
  background: #0088cc;
}

.custom-tooltip.top .tooltip-arrow {
  border-top-color: #0088cc;
}

.custom-tooltip.bottom .tooltip-arrow {
  border-bottom-color: #0088cc;
}
